*{
    margin: 10px auto
}

.box1{
    width: 200px;
    height: 100px;
    background-color: rgb(19, 199, 235);
    border: 1px dashed red
}

.box2{
    width: 200px;
    height: 100px;
    background-color: rgb(239, 251, 8);
    border: 1px dotted red;
}

.box3{
    width: 200px;
    height: 100px;
    background-color: rgb(19, 235, 224);
    border-top: 10px solid blue;
    border-right: 10px solid skyblue;
    border-bottom: 10px solid skyblue;
    border-left: 10px solid blue;
}

.box4{
    width: 200px;
    height: 100px;
    background-color: rgb(19, 224, 235);
    border-left: 4px solid rgb(0, 0, 6);
}


